/*------------------------------------*\
	
    SETTINGS - COLORS - THEME - DC
    
\*------------------------------------*/


//BLACK AND WHITE
$black:				#111111;
$white: 			#FFFFFF;

//Greys
$grey: 				#707584;
$grey2: 			#9C9CA7;
$greylight:			#F0F0F4;

//Theme
$light_green:       #e3f6e9;


$theme_color:		#0c8e36;
$theme_color2:		#9cc52b;
$body_color:		$black;

$body_bg_color: 	$white;
$content_bg_color:	$white;