.blog_wrap {
    .sidebar {

        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }

        @include media-breakpoint-down(lg) {
            margin-top: 40px;
            width: 100%;
            order: 2 !important;
        }

        .sidebar_item {
            margin-bottom: 30px;

            .search-form {
                .input-group {
                    .form-control {
                        border-top-left-radius: 33px;
                        padding-left: 22px;
                        border-bottom-left-radius: 33px;
                        border-color: #e1e1e1 !important;
                        outline: none !important;
                        box-shadow: none !important;
                        border-right: none;
                        min-height: 50px;
                    }

                    .input-group-text {
                        padding: 0;
                        border-top-right-radius: 33px;
                        border-bottom-right-radius: 33px;

                        .btn {
                            color: #fff;
                            background-color: #00a606;
                            border-radius: 33px;
                            padding: 0;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }

            h3 {
                &.title {
                    color: #303342;
                    text-transform: uppercase;
                    font-size: 20px;
                    border-bottom: 2px solid #ececec;
                    padding-bottom: 10px;
                    font-weight: 400;
                }
            }

            .list-group {
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;

                border: none;
                padding: 0;

                &.list-group-flush{
                    .list-group-item {
                        padding-left: 0;
                        border-bottom-style: dashed;
                        border-color: #dbdbdb;

                        &:last-child {
                            border-bottom-width: 1px;
                        }

                        a {
                            color: #787878;
                            font-size: 17px;
                        }
                    }
                }

                .list-group-item-action {
                    display: flex;
                    border: none;
                    padding: 0;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .img {
                        width: 100px;
                        margin-right: 20px;
                    }

                    .content {
                        flex: 1;

                        h5 {
                            color: #4a4a4a;
                            margin-bottom: 0;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        .date {
                            color: #0c8e36;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }

            .tags {
                .badge {
                    background-color: #f2f2f2;
                    color: #696969;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 8px 17px 11px;
                    line-height: 1;
                    margin-bottom: 6px;
                    margin-right: 4px;

                    &:hover {
                        background-color: #0c8e36;
                        color: #fff;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .blog_content_wrap , 
        .blog_listing {
            width: 100%;
            order: 1 !important;
        }
    }
}

.single-post {
    .blog-img {
        margin-bottom: 20px;
    }

    .blog_content {
        font-size: 18px;
        color: #4f4f4f;

        .date {
            color: #0c8e36;
            font-weight: 400;
            font-size: 14px;
        }

        .title {
            font-size: 26px;
            color: #000;
        }

        .btn_wrap {
            margin-top: 10px;

            .btn {
                padding-left: 0;
                color: #071e02;
                text-transform: capitalize;
                font-size: 18px;
                position: relative;

                &:after {
                    @include pseudo;
                    @extend %fa-icon;
                    @extend .fa-solid;
                    content: fa-content($fa-var-chevron-right);
                    right: 0;
                    top: 15px;
                    background-color: #81c963;
                    color: #fff;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15px;
                    height: 15px;
                    font-size: 9px;
                }
            }
        }
    }
}

.blog_item {
    .blog-img {
        margin-bottom: 20px;
    }

    .blog_content {
        padding: 0 20px;
        font-size: 18px;
        color: #4f4f4f;

        .date {
            color: #0c8e36;
            font-weight: 400;
            font-size: 14px;
        }

        h3 {
            font-size: 26px;
            color: #000;
        }

        p {
            margin-bottom: 0;
        }

        .btn_wrap {
            margin-top: 10px;

            .btn {
                padding-left: 0;
                color: #071e02;
                text-transform: capitalize;
                font-size: 18px;
                position: relative;

                &:after {
                    @include pseudo;
                    @extend %fa-icon;
                    @extend .fa-solid;
                    content: fa-content($fa-var-chevron-right);
                    right: 0;
                    top: 15px;
                    background-color: #81c963;
                    color: #fff;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15px;
                    height: 15px;
                    font-size: 9px;
                }
            }
        }
    }
}