section.section {
    position: relative;

    &.bg_gray {
        background-color: #f4f4f4;
    }
}

.mc-image-text-block {
    padding-bottom: 60px;

    .btn-wrapper {

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        .btn {
            margin-right: 16px;

            @include media-breakpoint-down(md) {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }

    .content_wrapper {

        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }

        .numbered_list {
            margin-bottom: 30px;

            .item {
                display: flex;
                font-size: 16px;
                margin-bottom: 20px;

                .number {
                    display: inline-block;
                    width: 24px;
                    font-size: 26px;
                    color: $theme_color;
                }
            }
        }
    }
}

.how-it-works {
    background-color: $light_green;
    padding-top: 200px;
    position: relative;
    padding-bottom: 150px;

    @include media-breakpoint-up(xxl) {
        padding-top: 11vw;
    }

    @include media-breakpoint-down(md) {
        padding-top: 20vw;
    }

    &::after , &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::before {
        background-image: url('../img/wave2.svg)');
        top: 0;
        height: 106px;

        @include media-breakpoint-up(xxl) {
            height: 8vw;
        }

        @include media-breakpoint-down(md) {
            height: 6vw;
        }
    }

    &::after {
        background-image: url('../img/wave3.svg)');
        bottom: 0;
        height: 30px;

        @include media-breakpoint-up(xxl) {
            height: 2vw;
        }

        @include media-breakpoint-down(md) {
            height: 3vw;
        }
    }

    .content_wrap {
        position: relative;

        &::before {
            content: "HOW IT WORKS";
            text-transform: uppercase;
            position: absolute;
            font-weight: 800;
            color: #d6e9dc;
            opacity: 0.47;
            font-size: 200px;
            line-height: 0.8;
            z-index: 0;
        }

        > h2 {
            position: relative;
            z-index: 1;
        }

        .steps_wrap {
            position: relative;
            z-index: 1;
            
            .step {
                margin-bottom: 10px;
                line-height: 1;
                font-size: 15px;
    
                .num {
                    color: $theme_color;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }


    .image_wrap {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;

        .image {
            width: 350px;
            height: 352px;
            clip-path: url(#ellipse);
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        .btn {
            background-color: $green;
            width: 184px;
            height: 184px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: -90px;

            @include media-breakpoint-down(md) {
                left: 20px;
            }
        }
    }
}

.treating-section {
    padding-top: 100px;
    padding-bottom: 50px;

    .title-wrap {
        padding: 0 60px;
        margin-bottom: 40px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    #treating-tab {
        border: 1px solid $grey2;
        border-radius: 8px;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            justify-content: center;
            border-top: 1px solid $grey2;
            border-right: none;
            border-left: none;
            border-bottom: none;
        }

        .nav-item {
            border-right: 1px solid $grey2;
            flex: 1;

            &:last-of-type {
                border-right: none;
            }

            @include media-breakpoint-down(md) {
                flex: 0 0 33.33%;
                border-left: 1px solid $grey2;
                border-bottom: 1px solid $grey2;

                &:last-of-type {
                    border-right: 1px solid $grey2;
                }
            }

            .nav-link {
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                color: $grey3;
                font-size: 15px;
                padding: 17px 0;

                &.active {
                    background-color: $green2;

                    img {
                        filter: invert(100%);
                    }
                }
            }
        }
    }

    .tab-content {
        .content-wrap {
            .item {
                position: relative;
                margin-bottom: 10px;
                
                &::after {
                    content: "";
                    position: absolute;
                    left: calc(var(--bs-gutter-x) * 0.5);
                    bottom: -3px;
                    height: 3px;
                    width: 40px;
                    background-color: $green2;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;


                }
            }
        }
    }
}

.why-select {
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 100px;
    background-color: $theme_color;

    background-blend-mode: soft-light;

    @include media-breakpoint-up(xxl) {
        padding-top: 11vw;
        padding-bottom: 7vw;
    }

    @include media-breakpoint-down(md) {
        padding-top: 24vw;
        padding-bottom: 15vw;
    }

    &::after , &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::before {
        background-image: url('../img/wave4.svg)');
        top: 0;
        height: 30vh;

        @include media-breakpoint-up(xxl) {
            height: 9vw;
        }

        @include media-breakpoint-down(md) {
            height: 9vw;
        }
    }

    &::after {
        background-image: url('../img/wave5.svg)');
        bottom: -1px;
        height: 68px;
        background-position: center;

        @include media-breakpoint-up(xxl) {
            height: 5vw;
        }

        @include media-breakpoint-down(md) {
            height: 6vw;
        }
    }

    .title-wrap {
        position: relative;
        margin-bottom: 40px;
        padding: 0 50px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        &::before {
            content: "WHY US";
            text-transform: uppercase;
            position: absolute;
            font-weight: 800;
            color: #445f4d;
            opacity: 0.41;
            font-size: 200px;
            line-height: 0.8;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 26vw;
            }
        }

        h2 {
            color: $white;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
        }

        p {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }

    .cards_wrap {

        .card {
            height: 100%;

            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }
        }

        .card-body {
            .image {
                margin-bottom: 20px;
            }

            h4 {
                font-size: 17px;
                margin-bottom: 0;
            }

            p {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}

.reviews-section {
    background-color: #e3f6e9;
    padding-top: 90px;
    padding-bottom: 200px;

    @include media-breakpoint-up(xxl) {
        padding-bottom: 11vw;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 25vw;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/wave9.svg)');
        bottom: -1px;
        height: 109px;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-up(xxl) {
            height: 8vw;
        }

        @include media-breakpoint-down(md) {
            height: 8vw;
        }
    }

    .content_wrap {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }

        &::before {
            content: "REVIEWS";
            text-transform: uppercase;
            position: absolute;
            font-weight: 800;
            color: #ddf0e3;
            font-size: 130px;
            line-height: 0.8;
            z-index: 0;
            left: 0;
            top: 77px;
            width: 100%;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 24vw;
            }
        }

        > * {
            position: relative;
            z-index: 1;
        }

        @include media-breakpoint-down(md) {
            .btn_wrap {
                text-align: center;
            }
        }
    }

    .reviews {
        .card {
            border: none;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;

            .quote {
                font-size: 16px;
                line-height: 1.5;
                color: $grey;
            }

            .author {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                .image {
                    border-radius: 100%;
                    overflow: hidden;
                    width: 50px;
                    margin-right: 11px;
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    line-height: 1;
                    margin-right: 11px;

                    .name {
                        font-weight: 600;
                        color: #000;
                        font-size: 17px;
                    }

                    .type {
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-top: 2px;
                        color: $theme_color;
                    }
                }
            }
        }
    }
}

.our-team-section {
    padding-top: 50px;
    padding-bottom: 100px;

    .title_wrap {
        padding: 0 50px;
        margin-bottom: 40px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .team_slider {
        .item {
            text-align: center;

            .image {
                margin-bottom: 15px;

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .name {
                color: #22412e;
                font-weight: 600;
            }

            .position {
                color: $theme_color2;
                font-weight: 300;
                font-size: 15px;
            }
        }
    }

    .btn_wrap {
        margin-top: 60px;
    }
}

.cta-section {
    background-color: $theme_color;
    padding-top: 150px;
    padding-bottom: 200px;

    @include media-breakpoint-up(xxl) {
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    @include media-breakpoint-down(md) {
        padding-top: 20vw;
        padding-bottom: 20vw;
    }

    &::after , &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
    }

    &::before {
        background-image: url('../img/wave6.svg)');
        top: 0;
        height: 135px;

        @include media-breakpoint-up(xxl) {
            height: 10vw;
        }

        @include media-breakpoint-down(md) {
            height: 10vw;
        }
    }

    &::after {
        background-image: url('../img/wave7.svg)');
        bottom: -1px;
        height: 71px;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-up(xxl) {
            height: 5vw;
        }

        @include media-breakpoint-down(md) {
            height: 5vw;
        }
    }

    h2 , p {
        color: $white;
    }
}

.blog-section {
    padding-top: 40px;
    padding-bottom: 40px;

    .title_wrap {
        padding: 0 100px;
        margin-bottom: 30px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .blog-items {
        .card {
            border: none;
            position: relative;

            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }

            .card-img-top {
                border-radius: 10px;
            }

            .date {
                font-weight: 600;
                font-size: 16px;
                color: $theme_color;
            }

            .card-text {
                font-size: 16px;
            }
        }
    }
    
    .btn_wrap {
        margin-top: 30px;
    }
}

.our-partners {
    padding-top: 40px;
    padding-bottom: 40px;

    .title_wrap {
        padding: 0 100px;
        margin-bottom: 30px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .partners_logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        img {
            max-width: 150px;

            @include media-breakpoint-down(md) {
                max-width: 65px;
            }
        }
    }
}

/*------------------------------------*\
	
    Service Listing Page
    
\*------------------------------------*/

.breadcrumb_wrap {
    padding-top: 10px;

    .breadcrumb {
        margin-bottom: 0;
        padding-bottom: var(--bs-breadcrumb-margin-bottom);
    }

    .breadcrumb-item {
        font-size: 16px;
        text-transform: uppercase;

        &::before {
            color: #949494;
        }

        &.active {
            color: #404040;
            font-weight: 600;
        }

        a {
            text-transform: uppercase;
            color: #949494;
        }
    }
}

.condition-listing-block {
    margin-top: -56px;

    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    .search_wrap {
        display: flex;
        justify-content: flex-end;

        .input-group {
            max-width: 600px;
            background-color: #c6c6c6;
            padding: 3px;
            border-radius: 10px;

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }
        
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }

            .form-control {
                padding: 0 22px;
                text-transform: uppercase;
                font-size: 14px;
                border: none;
                background-color: transparent;
            }

            .input-group-text {
                padding: 0;
                border: 0;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                background-color: transparent;
            }

            .btn {
                background-color: #2ab17e;
                color: #fff;
                border: none;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                padding: 13px 33px;
                font-size: 15px;
            }
        }
    }

    .text {
        margin-top: 28px;
        margin-bottom: 45px;
        font-size: 17px;
    }

    .condition_listing_wrap {
        .condition_listing {
            .condition {
                position: relative;
                background-color: #f5f5f5;
                text-align: center;
                border-radius: 10px;
                padding: 64px 40px;
                height: 100%;
                box-shadow: 0 0 8px -1px #9C9C9C;

                @include media-breakpoint-down(lg) {
                    padding: 40px 40px;
                }

                h4 {
                    color: #232323;
                    font-weight: 800;
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 18px;
                }
            }
        }
    }
}

.pain-symptoms-wrap {
    padding-top: 60px;
    padding-bottom: 60px;

    .title_wrap {
        h3 {
            color: #232323;
            font-weight: 800;
            font-size: 26px;
        }
    }

    .symptoms {
        .symptom {
            text-align: center;
            color: #fff;
            background-color: #0b8e36;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.5;
            padding: 10px 20px;
            min-height: 70px;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 10px;
        }
    }
}

.text-block-section {
    padding-bottom: 60px;

    .description {
        font-size: 17px;
    }
}

.pain-management {
    padding-bottom: 60px;

    .management_wrap {
        margin-top: 25px;

        .management {
            background-color: #edf0e6;
            display: flex;
            padding: 20px 28px;
            height: 100%;

            .number {
                color: $theme_color;
                font-size: 45px;
                font-weight: 300;
                margin-right: 20px;
            }

            .content {
                h4 {
                    color: $theme_color;
                    margin-bottom: 6px;
                    font-weight: 800;
                    font-size: 27px;
                }

                .description {
                    font-size: 17px;
                    line-height: 1.5;
                    color: #232323;
                }
            }
        }

        .btn-wrap {
            margin-top: 4rem;
        }
    }
}

.faq-section {
    background-color: #d5dcc5;
    padding-top: 140px;
    padding-bottom: 50px;

    &:before {
        background-image: url("../img/wave8.svg)");
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        height: 6vw;
    }

    .title_wrap {
        background-color: #2ab07e;
        padding: 9px 20px 13px;
        border-radius: 10px;
        margin-bottom: 30px;

        h2 {
            margin-bottom: 0;
            font-size: 35px;
            color: #fff;

            @include media-breakpoint-down(md) {
                font-size: 21px;
            }
        }
    }

    .faqs {
        .faq-item {
            background-color: #fff;
            border-radius: 10px;
            font-size: 17px;
            line-height: 1.5;
            padding: 20px 40px 30px;
            text-align: center;
            color: #515050;

            > h3 {
                margin-bottom: 14px;
                color: $theme_color;
                font-size: 20px;
            }

            .content {
                ul {
                    text-align: center;
                    list-style-position: inside;
                }
            }
        }
    }
}

/*------------------------------------*\
	
    Single Service Page
    
\*------------------------------------*/
.single-content-wrap {
    .sidebar_wrap {
        margin-left: 30px;

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
            margin-left: 0;
        }

        .img_wrap {
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .box_content {
            background-color: #18a86b;
            border-radius: 10px;
            margin-top: 40px;
            padding: 24px 20px;
            font-size: 17px;
            position: relative;
            z-index: 5;

            p {
                color: #fff;
            }

            > h3 {
                color: #fff;
            }
        }
    }

    .single_content {
        overflow: hidden;
        margin-bottom: 18px;

        ul {
            padding: 0;
            list-style: none;
            
            li {
                position: relative;
                color: #515050;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 31px;
                    border-radius: 3px;

                    background-color: $theme_color2;
                }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 30px;
        }
    }
}

.single-marucanna-conditions {
    .text-block-section {
        margin-top: 40px;

        .collapse_detail {
            font-size: 17px;
        }
    }
}

/*------------------------------------*\
	
    Pricing Page
    
\*------------------------------------*/
.pricing_section_wrap {
    background-color: #f6f4f3;
    padding-top: 60px;
    padding-bottom: 120px;

    &::after , &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
    }

    &::before {
        background-image: url('../img/wave12.svg)');
        top: 0;
        height: 2vw;

        @include media-breakpoint-up(xxl) {
            height: 2vw;
        }

        @include media-breakpoint-down(md) {
            height: 2vw;
        }
    }

    &::after {
        background-image: url('../img/wave7.svg)');
        bottom: -1px;
        height: 71px;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-up(xxl) {
            height: 5vw;
        }

        @include media-breakpoint-down(md) {
            height: 5vw;
        }
    }

    .title_wrap {
        .description {
            font-size: 17px;
        }
    }

    .pricing {
        margin-top: 60px;
        margin-bottom: 20px;

        .card {
            --bs-card-inner-border-radius: 10px;
            --bs-card-border-radius: 10px;
            border: none;
            box-shadow: 0 0 5px -2px #7D7D7D;
            height: 100%;

            .card-header {
                color: #fff;
                background-color: $theme_color;
                padding: 17px 20px;

                .title {
                    margin-bottom: 0;
                    color: #fff;
                    font-size: 20px;
                }

                .subtitle {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 15px;
                }

                .price_wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        font-weight: 600;
                        line-height: 1;
                        font-size: 43px;
                    }
                }
            }

            .list-group {
                height: calc(100% - 68px);
                font-size: 17px;
                color: #424242;

                .list-group-item {
                    &:last-child {
                        border-bottom-width: 1px;
                    }
                }
            }
        }
    }
}

.timeline_wrap {
    padding-top: 20px;
    padding-bottom: 60px;

    .title_wrap {
        margin-bottom: 50px;
    }
}

/*------------------------------------*\
	
    Prescription Page
    
\*------------------------------------*/
.conditions-list-section {
    background-color: #f6f4f3;
    padding-top: 60px;
    padding-bottom: 120px;
    margin-bottom: 40px;

    &::after , &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
    }

    &::before {
        background-image: url('../img/wave12.svg)');
        top: 0;
        height: 2vw;

        @include media-breakpoint-up(xxl) {
            height: 2vw;
        }

        @include media-breakpoint-down(md) {
            height: 2vw;
        }
    }

    &::after {
        background-image: url('../img/wave7.svg)');
        bottom: -1px;
        height: 71px;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-up(xxl) {
            height: 5vw;
        }

        @include media-breakpoint-down(md) {
            height: 5vw;
        }
    }

    .condition_list_wrap {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                width: 33.33%;
                font-size: 17px;
                margin-bottom: 10px;
                position: relative;
                padding-bottom: 5px;

                @include media-breakpoint-down(lg) {
                    width: 50%;
                }

                @include media-breakpoint-down(md) {
                    width: 100%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 31px;
                    border-radius: 3px;

                    background-color: $theme_color;
                }
            }
        }
    }

}

.image_text_block {
    margin-bottom: 50px;

    .row {
        align-items: center;
    }

    .image_wrapper {
        aspect-ratio: 1/1.1;

        img {
            width: 100%;
            object-fit: cover;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: bottom;
        }
    }

    .content_wrapper {
        font-size: 17px;

        p {
            color: #515050;
        }
    }

    &.style_1 {
        .image_wrapper {
            img {
                mask-image: url(../img/mask1.svg);
            }
        }
    }

    &.style_2 {
        .image_wrapper {
            order: 2;

            @include media-breakpoint-down(lg) {
                order: 1;
            }

            img {
                mask-image: url(../img/mask2.svg);
            }
        }

        .content_wrapper {
            order: 1;

            @include media-breakpoint-down(lg) {
                order: 2;
            }
        }
    }
}

.compare_table_wrap {
    padding-bottom: 50px;
    .table_container {

        @media (max-width: 1000px ) {
            overflow-x: auto;
        }

        table {
            min-width: calc(200vw + 1rem);

            @media (min-width: 1000px ) {
                width: 100%;
                min-width: 0;
            }
    
            .table_grid {
                display: grid;
                flex-direction: column;
                grid-template-columns: minmax(300px, 1fr) repeat(auto-fit,minmax(50px,1fr));
            }
    
            thead {
                tr {
    
                    th {
                        color: #113c1f;
                        text-align: center;
                        font-weight: 600;
                        padding: 10px 10px;
                        line-height: 1.2;
                        font-size: 17px;
                        border-radius: 10px 10px 0 0;
                        position: relative;
                        overflow: hidden;
                        display: grid;
                        place-content: center;
    
                        &:empty {
                            background-color: transparent;
                            padding: 0;

                            @media (max-width: 1000px ) {
                                display: none;
                            }
                        }
    
                        &.logo {
                            background-color: #cbe8bb;
    
                            img {
                                max-width: 93px;
                            }
                        }
    
                        &.odd {
                            background-color: #e5e5e5;
                        }
    
                        &.even {
                            background-color: #dbdbdb;
                        }
                    }
                }
            }
    
            tbody {
                tr {
                    
                    &:first-child {
                        .table_left_thead {
                            border-radius: 5px 5px 0 0;
                            -webkit-border-radius: 5px 5px 0 0;
                            -moz-border-radius: 5px 5px 0 0;
                            -ms-border-radius: 5px 5px 0 0;
                            -o-border-radius: 5px 5px 0 0;
                        }
                    }
    
                    &:last-child {
                        td {
                            border-radius: 0 0 5px 5px;
                            -webkit-border-radius: 0 0 5px 5px;
                            -moz-border-radius: 0 0 5px 5px;
                            -ms-border-radius: 0 0 5px 5px;
                            -o-border-radius: 0 0 5px 5px;
                        }
                    }
    
                    &.tr_odd {
                        td {
                            &:nth-child(2n + 1) {
                                background-color: #d1ded4;
                            }
    
                            &:nth-child(2n) {
                                background-color: #c9d7cd;
                            }
    
                            &.table_left_thead {
                                background-color: #2e9d51;
                            }
    
                            &.table_leva {
                                background-color: #bde0b5;
                            }
                        }
                    }
    
                    &.tr_even {
                        td {
                            &:nth-child(2n + 1) {
                                background-color: #e5e5e5;
                            }
    
                            &:nth-child(2n) {
                                background-color: #dbdbdb;
                            }
    
                            &.table_leva {
                                background-color: #cbe8bb;
                            }
    
                            &.table_left_thead {
                                background-color: #0b8e36;
                            }
                        }
                    }

                    @media (min-width: 1000px ) {
                        &.table_row-mobile {
                            display: none;
                        }
                    }
                    
                    &.table_row-mobile {
                        td {
                            max-width: calc(95vw);
                            position: sticky;
                            top: 0;
                            left: 0;
                            text-align: center;
                            padding: 20px 20px;

                            @media (min-width: 576px) {
                                max-width: calc(540px - 24px);
                            }

                            @media (min-width: 768px) {
                                max-width: calc(720px - 24px);
                            }
                        }

                        &.tr_odd {
                            td {
                                background-color: #2e9d51;
                            }
                        }

                        &.tr_even {
                            td {
                                background-color: #0b8e36;
                            }
                        }
                    }
    
                    td {
                        text-align: center;
                        place-content: center;
                        display: grid;
                        padding: 14px 0;
                        color: #113c1f;
                        line-height: 1.1;
                        font-size: 17px;
    
                        &.table_left_thead {
                            padding: 10px 20px;
                            text-align: left;
                            font-size: 15px;
                            line-height: 1.1;
                            display: flex;
                            align-items: center;

                            @media (max-width: 1000px ) {
                                display: none;
                            }
                        }
    
                        &.table_other {
                            place-content: center;
                            display: grid;
                        }
    
                        p {
                            margin-bottom: 0;
                            color: #fff;
                        }
    
                        h3 , h5 {
                            margin-bottom: 0;
                        }
    
                        h5 {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.blog_wrap {
    padding-bottom: 50px;
}

.eligibility_wrap {  
    padding-bottom: 50px;
    padding-top: 40px;

    @include media-breakpoint-down(md) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        > .row {
            overflow: hidden;
        }
    }

    .box-content-wrap {
        background-color: #18a86b;
        display: flex;

        .box_content {
            padding: 0 50px;
            font-size: 17px;
            text-align: center;
            margin-top: 48%;

            @include media-breakpoint-down(md) {
                margin-top: 0;
                padding: 50px 20px;
            }
                        
            h3 , p {
                color: #fff;
            }
        }
    }

    .form-wrapper {
        padding: 30px 30px;
    }
}

.page-template-page-team-php {
    .team_wrapper {
        padding-bottom: 40px;

        .team_wrap {
            margin-top: 50px;

            h4 {
                &.title {
                    margin-bottom: 20px;
                }
            }

            .item {
                position: relative;
                margin-bottom: 25px;

                .image {
                    margin-bottom: 15px;
                    text-align: center;
                    background: rgb(209,200,77);
                    background: -moz-linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                    background: -webkit-linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                    background: linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1c84d",endColorstr="#3fa87b",GradientType=1); 
                }

                .position {
                    color: #0b8e36;
                }
            }
        }
    }
}

.single-marucanna-doctors {
    .doctor_details {
        .image {
            .img_wrap {
                text-align: center;
                margin-bottom: auto;
                background: rgb(209,200,77);
                background: -moz-linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                background: -webkit-linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                background: linear-gradient(-171deg, rgba(209,200,77,1) 0%, rgba(63,168,123,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1c84d",endColorstr="#3fa87b",GradientType=1);
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }

            img {
                max-width: 100%;
            }
        }

        .content_wrap {
            .dr_name {
                font-size: 37px;
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    font-size: 30px;
                }
            }

            .position {
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    }
}

.faq-link  {
    color:#fff !important ;   
    
    a {
        color:#fff !important ;
        margin-bottom:14px;

        &:hover {
            text-decoration: underline !important;   
        }
    }
}

.page-template-page-partners , 
.page-template-page-coming-soon , 
.page-template-page-clinic , 
.page-template-page-feedback , 
.page-template-page-login , 
.page-template-page-patient-dashboard , 
.page-template-page-reviews {
    .mc-title-section{
        &.style_1 {
            &::after {
                background-image: url("../img/wave14.svg");
            }
        }
    }
}

.coming_soon_wrapper , 
.clinic_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.partners_wrapper {
    padding-top: 40px;
    padding-bottom: 60px;

    .partners {
        margin-top: 50px;

        .icon-box {
            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }

            .icon-box-inner {
                display: flex;
                border-radius: 10px;
                border: 1px solid #0c8e36;
                position: relative;
                height: 100%;
                background-color: #fff;
                padding: 15px;

                .icon {
                    width: 75px;
                }

                .content {
                    flex: 1;
                    padding-left: 18px;
                    font-size: 15px;

                    h3 {
                        margin-bottom: 4px;
                        color: #18a86b;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.partnership_wrap {
    padding-top: 160px;
    padding-bottom: 60px;

    @include media-breakpoint-down(md) {
        padding-top: 70px;
    }

    &::before {
        background-image: url("../img/wave13.svg)");
        position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        height: 7vw;
    }

    .box-content-wrap {
        .box_content {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.clinic_wrapper {
    .clinics {
        @include media-breakpoint-down(md) {
            .col-12 {
                margin-bottom: 15px;
            }
        }

        .clinic-inner {
            position: relative;
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 1px solid #0c8e36;
            border-radius: 10px;
        }
    }
}

.feedback_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-down(md) {
        .col-12 {
            margin-bottom: 15px;
        }
    }

    .feedback-inner {
        background-color: #fff;
        padding: 16px 20px;
        border: 1px solid #0c8e36;
        border-radius: 10px;
        font-size: 16px;
        height: 100%;

        .feedback-item {
            h3 {
                font-weight: 400;
                color: #0c8e36;
                margin-bottom: 2px;
            }
        }

        .feedback-quote {
            font-size: 18px;

            h4 {
                font-size: 21px;
                font-weight: 400;
                margin-bottom: 6px;
                color: #0b8e36;
            }

            &.after-feedback {
                h4 {
                    color: #9cc52b;
                }
            }
        }
    }
}

.login_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    #loginform {
        width: 100%;
        max-width: 600px;
        margin: auto;
        border: 1px solid #0b8e36;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;

        label {
            text-transform: uppercase;
            font-size: 16px;
            color: #4a4a4a;
            display: inline-block;
            width: 100%;
        }

        .input {
            width: 100%;
            background-color: #e4e4e4;
            color: #000;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            height: 55px;
            border: none;
            outline: none;
            box-shadow: none;
            padding: 0 20px;
        }

        #wp-submit {
            @extend %frutiger;
            border-radius: $btn_border_radius;
            -webkit-border-radius: $btn_border_radius;
            -moz-border-radius: $btn_border_radius;
            -ms-border-radius: $btn_border_radius;
            -o-border-radius: $btn_border_radius;
            text-transform: $btn_font_transform;
            color: $white;
            background-color: $theme_color;
            padding: 6px 40px 9px;
    
            font-size: 20px;
            height: 50px;
    
            width: 100%;
            border: none;
    
            &:hover{
                background-color: $theme_color2;
            }
        }
    }
}

.dashboard_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    .profile-detail-wrap {
        border: 1px solid #0b8e36;
        background-color: #fff;
        padding: 15px;

        .profile-pic {
            max-height: 290px;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }

        .profile-detail {

            > h3 {
                font-weight: 400;
                font-size: 26px;
                color: #0b8e36;
                border-bottom: 1px solid #d9d9d9;
                padding-bottom: 6px;
            }

            .profile-item {
                margin-bottom: 15px;

                .label {
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #7b7b7b;
                }

                .value {
                    font-size: 18px;
                    color: #000;

                    p {
                        color: #000;
                    }
                }
            }
        }

        &.repeat_order_wrap {
            .btn {
                width: auto;
            }
        }
    }

    .nav-pills {
        .nav-item {
            margin-right: 5px;

            .nav-link {
                color: #000;
                border-radius: 33px;
                -webkit-border-radius: 33px;
                -moz-border-radius: 33px;
                -ms-border-radius: 33px;
                -o-border-radius: 33px;
                
                &.active {
                    color: #fff;
                }
            }        
        }
    }

    #patients_details {
        .patient-name {
            a {
                display: inline-block;
                position: relative;
                padding-right: 30px;
                width: 80%;

                .fa-arrow-up-right-from-square {
                    position: absolute;
                    right: 0;
                    top: 8px;
                    color: #808080;
                    font-size: 13px;
                }

                &:hover {
                    .fa-arrow-up-right-from-square {
                        color: #0b8e36;
                    }
                }
            }
        }
    }
}

.payment_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dashboard_nav {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #0b8e36;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact_wrap {
    padding-top: 40px;
    padding-bottom: 60px;
    
    .map_wrap {
        @include media-breakpoint-down(md) {
            margin-top: 40px !important;
        }

        .acf-map {
            width: 100%;
            height: 100%;

            @include media-breakpoint-down(md) {
                height: 400px;
            }
        
            img {
                max-width: inherit !important;
            }
        }
    }

    .contact_details_wrap {

        @include media-breakpoint-down(md) {
            margin-top: 40px !important;
        }

        .contact_details {
            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }

            .inner {
                background-color: #f0f0f0;
                padding: 20px;
                font-size: 16px;
                height: 100%;

                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}