/*------------------------------------*\
	
    BASE - BUTTONS
    
\*------------------------------------*/


$btn_font_size:			16px;
$btn_font_transform:	uppercase;

$btn_border_radius:		40px;
$button_color: 			#083b18;
$button_hover_color: 	$theme_color;



@mixin mc_button() {
	@extend %frutiger;	
	font-size: $btn_font_size;
	text-transform: $btn_font_transform;

	border-radius: $btn_border_radius;

	padding: 6px 28px 9px;
	background-color: $button_color;
	color: $white;

	&:hover {
		background-color: $theme_color;
		color: $white;
	}

	&.btn_link {
		background-color: $white;
		color: $theme_color;
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;

		border: none;
	}

	&.add_to_cart_button {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}

}

.btn {
	@include mc_button();
}