.moda-open-html {
    overflow: hidden;
}

#restrictedPopup{
    background-color: rgba($color: #000000, $alpha: 0.8);

    .modal-body {
        .btn_wrap {
            text-align: center;
            margin-top: 44px;
        }
    }
}

#subscribePopup {
    .modal-body {
        .btn-close {
            position: absolute;
            right: 0;
            top: -37px;
            background-color: #000;
            opacity: 1;
            border-radius: 0;
            padding: 10px 11px;
        }
    }
}