section.section {
    position: relative;
    padding: 40px 0;

    .title_wrap {
        margin-bottom: 30px;

        h2 {
            text-transform: uppercase;
            font-weight: 500;
            color: #083b18;
            text-align: center;
            margin-bottom: 0;
            font-size: 35px;
        }
    }
    
    &.main_banner {
        padding: 0;

        img {
            width: 100%;
        }
    }

    &.breadcrumb_wrap {
        padding: 15px 0;

        .woocommerce-breadcrumb {
            margin: 0;
        }
    }
}