.product {
    .product-inner {
        background-color: #eeeeee;
        padding: 10px;

        .woocommerce-LoopProduct-link {
            display: inline-block;
            width: 100%;
    
            .product-image {
                height: 245px;
                text-align: center;
                margin-bottom: 15px;

                img {
                    mix-blend-mode: darken;
                }

                .onsale {
                    background-color: #60bf2d;
                    padding: 0;
                    left: 8px;
                    top: 6px;
                }
            }
            
            .woocommerce-loop-product__title {
                color: #083b18;
                font-size: 17px;
                margin-bottom: 4px;
            }

            .woocommerce-Price-amount {
                color: #60bf2d;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .add_to_cart_button {
            margin-top: 10px;
            width: 100%;
            @extend %frutiger;	
            font-size: $btn_font_size;
            text-transform: $btn_font_transform;

            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            padding: 6px 28px 9px;
            background-color: $button_color;
            color: $white;
            font-weight: 400;
            line-height: inherit;

            &:hover {
                background-color: $theme_color;
                color: #000;
            }
        }

        .added_to_cart {
            display: none;
        }
    }
}

#single_product_wrap {
    padding: 10px 0;

    .product {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .wcgs-woocommerce-product-gallery {
            .wcgs-carousel {
                background-color: #f5f5f5;
            }

            .gallery-navigation-carousel-wrapper {
                .wcgs-thumb {
                    &.swiper-slide-thumb-active {
                        img {
                            border-color: #0b8e36;
                        }
                    }

                    &:hover {
                        img {
                            border-color: #0b8e36;
                        }
                    }
                }
            }
        }

        .woocommerce-tabs {
            width: 100%;
            margin-top: 20px;
            border-top: 1px solid #eee;

            .wc-tabs {
                padding: 0;

                &::before , &::after {
                    display: none;
                }

                li {
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    margin: 0;
                    background-color: transparent;

                    &::before , &::after {
                        display: none;
                    }

                    a {
                        padding: 14px 27px;
                        display: inline-block;
                        text-transform: uppercase;
                        color: #595959;
                        border-top: 2px solid transparent;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    &.active {
                        a {
                           border-top-color: #6fac15; 
                           color: #1f1f1f;
                        }
                    }
                }
            }

            .wc-tab {
                padding: 0 15px;

                h2 {
                    font-size: 28px;
                    color: #083b18;
                }

                .comment-respond {
                    #submit {
                        background-color: $theme_color;
                        color: #000;
                    }

                    #comment {
                        padding: 5px;
                    }
                    
                    .comment-form-rating {
                        .stars {
                            &:hover {
                                a {
                                    &::before {
                                        color: #ffc42d;
                                    }
                                }
                            }
                        }
                    }

                    .required {
                        color: #f00f0f;
                    }

                    label {
                        font-weight: 500;
                        color: #000;
                        margin-bottom: 8px;
                    }
                }

                .commentlist {
                    .comment_container {
                        .star-rating {
                            span {
                                color: #ffc42d;
                            }
                        }
                    }
                }
            }
        }

        .related.products {
            margin-top: 40px;
            margin-bottom: 60px;

            > h2 {
                text-align: center;
                margin-bottom: 37px;
                text-transform: uppercase;
                color: #083b18;
                font-size: 33px;
            }
        }

        .summary {
            .product_title {
                font-size: 42px;
                color: #312009;
            }

            .price {
                font-size: 41px;
                color: #60bf2d;
            }

            .woocommerce-product-details__short-description {
                p {
                    color: #312009;
                }
            }

            .cart {
                margin-bottom: 20px;

                .btns_wrap {
                    width: 100%;
                    display: flex;

                    .quantity {
                        margin-right: 10px;
                        background-color: #f2f2f2;
                        width: 60px;

                        .qty {
                            height: 100%;
                            background-color: transparent;
                            border: none;
                            width: 100%;
                        }
                    }

                    .single_add_to_cart_button {
                        width: 100%;
                        @extend %frutiger;	
                        font-size: $btn_font_size;
                        text-transform: $btn_font_transform;

                        padding: 6px 28px 9px;
                        background-color: #8eb360;
                        color: $white;
                        font-weight: 400;
                        line-height: inherit;
                        flex: 1;

                        &:hover {
                            background-color: $theme_color;
                            color: #000;
                        }
                    }

                    .added_to_cart {
                        display: none;
                    }
                }
            }

            .yith-wcwl-add-to-wishlist {
                font-size: 16px;
            }

            .product_meta {
                margin-top: 10px;
                color: #474747;
                font-size: 15px;
                display: flex;
                flex-direction: column;

                .posted_in {
                    a {
                        color: #131313;
                        text-transform: uppercase;
                    }
                }
            }

            .share_group {
                margin-top: 20px;
                border-top: 1px solid #dbdbdb;
                border-radius: 0;
                padding-top: 15px;

                a {
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid #c0c0c0;
                    color: #c0c0c0;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;

                    &:hover {
                        color: $theme_color;
                        border-color: $theme_color;
                    }
                }
            }

            .woocommerce-product-rating {
                margin-bottom: 0;

                .star-rating {
                    span {
                        color: #ffc42d;
                    }
                }

                .woocommerce-review-link {
                    color: #464646;
                    margin-left: 10px;
                }
            }
        }
    }
}

#mp-minicart-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    max-width: 512px;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    display: none;
    padding: 1rem 3rem 0;

    &.active {
        display: block;
    }

    h2 {
        color: #fff;
        font-size: 33px;
    }

    #minicart-close {
        color: #fff;
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 25px;
    }

    .woocommerce-mini-cart__total {
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    .woocommerce-mini-cart__buttons {
        .btn {
            width: 100%;

            &:nth-child(1) {
                margin-bottom: 10px;
            }
        }
    }

    .woocommerce-mini-cart {
        margin-top: 15px;
        height: 60vh;
        overflow: auto;

        .woocommerce-mini-cart-item {
            margin-bottom: 10px;

            img {
                max-width: 50px;
                object-fit: contain;
            }

            .content {
                padding-left: 17px;
    
                a {
                    color: #fff;
                    font-weight: 400;
                }
    
                .cart-data {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 8px;
    
                    .quantity {
                        color: #fff;
                        border-radius: 5px;
                        overflow: hidden;
                        max-width: 130px;

                        .input-group-text {
                            padding: 0;
                            border: none;

                            button {
                                background-color: #0b8e36;
                                color: #fff;
                                border: none;
                                height: 100%;
                                padding: 0 11px;
                                font-size: 22px;
                            }
                        }

                    } 

                    .price {
                        color: #fff;
                    }
    
                    .remove_from_cart_button {
                        font-weight: 400;
                        font-size: 20px !important;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .woocommerce-mini-cart__empty-message {
        color: #fff;
        text-align: center;
        margin-top: 50vh;
    }
}

.woo-page-wrap {
    .wp-block-woocommerce-checkout {
        .wp-block-woocommerce-checkout-fields-block {
            .wc-block-checkout__actions {
                .wc-block-components-checkout-place-order-button {
                    font-size: $btn_font_size;
                    text-transform: $btn_font_transform;

                    border-radius: $btn_border_radius;

                    padding: 6px 28px 9px;
                    background-color: $button_color;
                    color: $white;
                    border: none;

                    &:hover {
                        background-color: $theme_color;
                    }
                }
            }
        }
        /* .wc-block-components-sidebar-layout {
            .wp-block-woocommerce-checkout-totals-block {
                position: relative;

                .wp-block-woocommerce-checkout-order-summary-block {
                    position: sticky;
                    top: 0;
                }
            }
        } */
    }

    #customer_login {
        .woocommerce-privacy-policy-text {
            p {
                margin-top: .25rem;
                font-size: .875em;
                color: var(--bs-secondary-color);
            }
        }
    }

    .woocommerce-MyAccount-navigation {
        .list-group {
            .list-group-item {
                &.is-active {
                    background-color: #60bf2d;
                    border-color: #60bf2d;
                    color: #fff;
                }

                &.woocommerce-MyAccount-navigation-link--customer-logout {
                    &:hover { 
                        color: #fff;
                        text-decoration: none;
                        background-color: #842029;
                        border-color: #842029;
                    }
                }
            }
        }
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-error {
        --bs-alert-padding-x: 3.5rem;
        --bs-alert-padding-y: 1rem;
        --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
        --bs-alert-border-radius: var(--bs-border-radius);
        --bs-alert-color: var(--bs-danger-text-emphasis);
        --bs-alert-bg: var(--bs-danger-bg-subtle);
        --bs-alert-border-color: var(--bs-danger-border-subtle);
        --bs-alert-link-color: var(--bs-danger-text-emphasis);
        --bs-alert-margin-bottom: 1rem;

        position: relative;
        padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
        margin-bottom: var(--bs-alert-margin-bottom);
        color: var(--bs-alert-color);
        background-color: var(--bs-alert-bg);
        border: var(--bs-alert-border);
        border-radius: var(--bs-alert-border-radius);
    }
}

#mp_product_wrap {
    padding-top: 0;

    .woocommerce-products-header{
        .woocommerce-products-header__title {
            font-size: 30px;
        }

        .term-description {
            display: flex;
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
            }

            .category_image {
                max-width: 220px;
                margin-right: 20px;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .woo_meta_wrap {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        flex-wrap: wrap;

        .woocommerce-notices-wrapper {
            width: 100%;
        }

        .woocommerce-result-count , 
        .woocommerce-ordering {
            width: auto;
            margin: auto 0;
        }
    }

    .products {
        width: 100%;
    }

    .mp-woo-pagination {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .pagination {
            .page-item {
                .page-link {
                    &.current {
                        background-color: #60bf2d;
                        color: #fff;
                        border-color: #60bf2d;
                    }
                }
            }
        }
    }
}

.woocommerce {
    .woocommerce-error, 
    .woocommerce-info {
        --bs-alert-bg: transparent;
        --bs-alert-padding-x: 1rem;
        --bs-alert-padding-y: 1rem;
        --bs-alert-margin-bottom: 1rem;
        --bs-alert-color: inherit;
        --bs-alert-border-color: transparent;
        --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
        --bs-alert-border-radius: var(--bs-border-radius);
        --bs-alert-link-color: inherit;
        position: relative;
        padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
        margin-bottom: var(--bs-alert-margin-bottom);
        color: var(--bs-alert-color);
        background-color: var(--bs-alert-bg);
        border: var(--bs-alert-border);
        border-radius: var(--bs-alert-border-radius);
    }

    .woocommerce-info {
        --bs-alert-color: var(--bs-info-text-emphasis);
        --bs-alert-bg: var(--bs-info-bg-subtle);
        --bs-alert-border-color: var(--bs-info-border-subtle);
        --bs-alert-link-color: var(--bs-info-text-emphasis);
        padding-left: 60px;
    }

    .woocommerce-error {
        --bs-alert-color: var(--bs-danger-text-emphasis);
        --bs-alert-bg: var(--bs-danger-bg-subtle);
        --bs-alert-border-color: var(--bs-danger-border-subtle);
        --bs-alert-link-color: var(--bs-danger-text-emphasis);
        padding-left: 60px;
    }
}