/*------------------------------------*\
	
    HEADER - BASE
    
\*------------------------------------*/

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	@include media-breakpoint-down(lg) {
		.menu-open & {
			max-height: 100vh;
			overflow: auto;
		}
	}

	.navbar {
		padding: 0;
		margin-top: 50px;
		transition: 0.5s all ease;

		@include media-breakpoint-down(lg) {
			margin-top: 0;
			background-color: $theme_color;
			padding: 0;
		}
		
		.container-fluid {
			max-width: 1300px;
			position: relative;

			@include media-breakpoint-down(md) {
				padding: 0;
			}

			.navbar-toggler {
				margin-left: auto;
				background-color: $theme_color2;
				border-color: $theme_color2;
				box-shadow: none !important;
				margin-right: 15px;
				margin-bottom: auto;
  				margin-top: 6px;

				.navbar-toggler-icon {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
				}
			}
		}

		.mobile_btns {
			display: none;

			@include media-breakpoint-down(md) {
				display: flex;
				margin-top: -51px;
				flex: 0 0 68%;
				margin-left: auto;
				margin-bottom: 10px;

				.btn {
					font-size: 12px;
  					padding: 6px 6px 9px;
					flex: 1;
					margin: 0 2px;
				}
			}
		}
	}
}

.sticky-header {
	header {
		.navbar {
			margin-top: 0;
			background-color: $theme_color;
			padding: 15px 0;

			@include media-breakpoint-down(lg) {
				padding: 0;
			}
		}
	}
}



body {
	&:not(.home) {
		header {
			.navbar {
				&::before {
					position: absolute;
					content: "";
					width: 100%;
					top: -6vw;
					background-color: #236f3a;
					height: 9vw;
					filter: blur(42px);
					opacity: 0.9;
				}
			}
		}

		&.sticky-header {
			header {
				.navbar {
					&::before {
						display: none;
					}
				}
			}
		}
	}
}