/*------------------------------------*\
	
    HEADER - BASE
    
\*------------------------------------*/

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	.navbar {
		padding: 0;
		
		.container-fluid {
			max-width: 1300px;
		}
	}
}