/*------------------------------------*\
	
    HEADER - LOGO
    
\*------------------------------------*/

.navbar-brand {
	max-width: 170px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 9px 4px #404040;
	padding: 5px 13px;
	height: 166px;
	display: flex;
	align-items: center;
}