/*------------------------------------*\
	
    HEADER - LOGO
    
\*------------------------------------*/

.navbar-brand {
	max-width: 170px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 9px 4px #404040;
	padding: 5px 13px;
	height: 166px;
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	top: -50px;
	transition: 0.5s all ease;

	@include media-breakpoint-down(lg) {
		top: -14px;
		height: 110px;
		max-width: 110px;
	}
}

.sticky-header {
	.navbar-brand {
		top: -14px;
		height: 150px;
		max-width: 150px;

		@include media-breakpoint-down(lg) {
			height: 110px;
			max-width: 110px;
		}
	}
}