/*------------------------------------*\
	
    MENU
    
\*------------------------------------*/

#mainMenuWrap {
	justify-content: flex-end;
	transition: 0.5s all ease;

	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}

	@include media-breakpoint-down(md) {
		margin-top: 0;

		/* .menu-main-menu-container {
			max-height: calc(80vh);
			overflow: auto;
		} */
	}

	.navbar-nav {

		@include media-breakpoint-down(lg) {
			margin-bottom: 20px;
		}

		> li {
			> a {
				@extend %frutiger;
				
				text-transform: uppercase;
				font-size: 17px;
				color: $white;
				border-radius: 5px;

				padding: 6px 16px;

				position: relative;

				@include media-breakpoint-down(lg) {
					padding: 13px 16px;
				}

				&:hover {
					background-color: $theme_color2;
				}

				&.dropdown-toggle {
					padding-right: 25px;

					@include media-breakpoint-down(lg) {
						padding-right: 16px;
					}

					&.show {
						background-color: $theme_color2;
					}

					&:after {
						border: none;
						@include pseudo;
						@extend %fa-icon;
						@extend .fa-solid;
						content: fa-content($fa-var-chevron-down);
						right: 7px;
						top: 16px;
						font-size: 12px;

						@include media-breakpoint-down(lg) {
							top: 12px;
							display: none;
						}
					}
				}
			}

			&.dropdown {
				&:hover {

					.dropdown-toggle {
						background-color: $theme_color2;
					}

					.dropdown-menu {
						@include media-breakpoint-up(lg) {
							display: grid;
						}
					}
				}

				.dropdown-click {
					display: none;

					@include media-breakpoint-down(lg) {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						background-color: #9cc52b;
						border-radius: 0;
						z-index: 10;
					}
				}
			}

			.dropdown-menu {
				width: 800px;
				top: 100%;
				background-color: $theme_color2;
				border: none;
				padding: 6px 20px;
				grid-template-rows: repeat(6, 1fr);
				grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
				margin-top: 3px;
				gap: 5px;

				@include media-breakpoint-down(lg) {
					width: 100%;
				}

				@include media-breakpoint-down(md) {
					width: 100%;
				}

				&.show {
					display: grid;

					@include media-breakpoint-down(md) {
						display: block;
					}
				}

				li {
					position: relative;

					@include media-breakpoint-down(md) {
						width: 100%;
					}

					&::after {
						content: "";
						position: absolute;
						background-color: #85a621;
						width: 100px;
						height: 1px;
						left: 0;
						bottom: 0;
					}

					a {
						color: $white;
						background-color: transparent !important;
						padding: 8px 0;
						white-space: normal;

						@include media-breakpoint-down(md) {
							padding: 15px 0;
							position: relative;

							&:after {
								border: none;
								@include pseudo;
								font-family: "Font Awesome 6 Free";
								font-weight: 900;
								content: fa-content($fa-var-chevron-right);
								right: 2px;
								top: 16px;
								font-size: 12px;
							}
						}

						&:hover , &:focus {
							color: $theme_color;
						}
					}
				}
			}

			&.small-submenu {
				.dropdown-menu {
					width: 275px;

					li {
						&:last-child {
							&::after {
								display: none;
							}
						}
					}
					
					&.show {
						display: block;
					}
				}
			}
		}
	}

	.btn {
		margin-left: 20px;

		@include media-breakpoint-down(lg) {
			display: none;
		}

		/* @include media-breakpoint-down(md) {
			padding: 6px 24px 9px;
		}

		&.style_2 {
			&:hover {
				background-color: #0c8e36;
				color: #fff;
				border-color: #0c8e36;
			}
		} */

	}
}


/*------------------------------------*\
	
   DEFAULT DROPDOWN
   
\*------------------------------------*/

