/* @import must be at top of file, otherwise CSS will not work */
@font-face{
    font-family: "Frutiger Neue LT W01 Cn Medium";
    src: url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.eot");
    src: url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.eot?#iefix")format("embedded-opentype"),
        url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.woff")format("woff"),
        url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.woff2")format("woff2"),
        url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.ttf")format("truetype"),
        url("../fonts/25c5beeb65323f68c8e73ab891bbcf58.svg#Frutiger Neue LT W01 Cn Medium")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
%frutiger {
    font-family: "Frutiger Neue LT W01 Cn Medium", Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}