/*------------------------------------*\
	
    SETTINGS - COLORS - THEME - DC
    
\*------------------------------------*/


//BLACK AND WHITE
$black:				#000;
$white: 			#FFFFFF;

//Greys
$grey: 				#515050;
$grey2: 			#e5e5e5;
$grey3:			    #4e4e4e;

//Theme
$light_green:       #e3f6e9;
$green:             #18a86b;
$green2:            #2fb383;


$theme_color:		#0c8e36;
$theme_color2:		#9cc52b;
$body_color:		$black;

$body_bg_color: 	$white;
$content_bg_color:	$white;