/*------------------------------------*\
	
    BASE - BUTTONS
    
\*------------------------------------*/


$btn_font_size:			16px;
$btn_font_transform:	uppercase;

$btn_border_radius:		40px;



@mixin mc_button() {
	@extend %frutiger;	
	font-size: $btn_font_size;
	text-transform: $btn_font_transform;

	border-radius: $btn_border_radius;

	padding: 6px 28px 9px;
	
	&.style_1 {
		background-color: $white;
		color: $theme_color;

		&:hover {
			color: $white;
			background-color: $theme_color;
		}
	}

	&.style_2 {
		color: $white;
		background-color: $theme_color2;
		border: 1px solid transparent;

		&:hover {
			background-color: transparent;
			border-color: $theme_color2;
			color: $theme_color2;
		}
	}

	&.style_3 {
		background-color: $white;
		color: $theme_color;
		border: 1px solid $theme_color;
		padding: 6px 40px 9px;

		&:hover {
			background-color: $theme_color;
			color: $white;
		}
	}

	&.style_4 {
		color: $white;
		background-color: $theme_color;
		padding: 6px 40px 9px;

		&:hover {
			background-color: $theme_color2;
		}
	}

	&.btn_link {
		background-color: $white;
		color: $theme_color;
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;

		border: none;
	}

	&.style_5 {
		color: $white;
		background-color: $black;

		&:hover {
			color: $black;
			background-color: $white;
		}
	}

	&.small {
		padding: 2px 18px 3px;
		font-size: 13px;
	}

	&.style_6 {
		color: $white;
  		background-color: #ccc;

		&:hover {
			color: $white;
  			background-color: #ccc;
		}
	}
}

.btn {
	@include mc_button();
}