/*------------------------------------*\
	
    SETTINGS - FONT SIZES
    
\*------------------------------------*/


$base_font_size: 	20px;
$base_line_height: 	1.5em;



// HEADINGS (H1 > H6)

$h1_h6_titlecase:	none;

$h1_large:		56px;
$h1_medium:		47px;
$h1_small:		40px;
$h1_mobile:		28px;

$h2_large:		48px;
$h2_medium:		42px;
$h2_small:		36px;
$h2_mobile:		30px;

$h3_large:		32px;
$h3_medium:		30px;
$h3_small:		28px;
$h3_mobile:		24px;

$h4_large:		28px;
$h4_medium:		24px;
$h4_small:		22px;
$h4_mobile:		19px;

$h5_large:		22px;
$h5_medium:		20px;
$h5_small:		19px;
$h5_mobile:		17px;

$h6_large:		20px;
$h6_medium:		18px;
$h6_small:		17px;
$h6_mobile:		16px;