/*------------------------------------*\
	
    FOOTER - SITE WIDE
    
\*------------------------------------*/

footer {
	background-color: $theme_color;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;

	position: relative;
	min-height: 550px;

	&::before {
		position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        background-image: url('../img/wave8.svg)');
        top: 0;
        height: 75px;
    }
}