/*------------------------------------*\
	
    FOOTER - SITE WIDE
    
\*------------------------------------*/

footer {
	background-color: $theme_color;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;

	position: relative;
	min-height: 550px;

    padding-top: 150px;
    padding-bottom: 20px;

    @include media-breakpoint-up(xxl) {
        padding-top: 9vw;
    }

    @include media-breakpoint-down(md) {
        background-position: center;
        text-align: center;
        padding-top: 15vw;
    }

	&::before {
		position: absolute;
        content: "";
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        background-image: url('../img/wave8.svg)');
        top: 0;
        height: 75px;

        @include media-breakpoint-up(xxl) {
            height: 6vw;
        }

        @include media-breakpoint-down(md) {
            height: 6vw;
        }
    }

    address , p {
        color: $white;
        font-size: 16px;

        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }

    .footer_bottom_wrap {
        margin-top: 40px;
    }

    .nav {
        li {
            a {
                color: $white;
                font-size: 16px;
                font-weight: 400;
                padding: 0;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    h6 {
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
    }

    @include media-breakpoint-down(md) {
        .footer_top_wrap {
            .col-md-4 {
                margin-bottom: 25px;
            }
        }

        .footer_bottom_wrap {
            .col-md-8 {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }

    .newsletter {
        margin-bottom: 30px;

        .input-group {
            background-color: #fff;
            border-radius: 33px;
            overflow: hidden;
            padding: 5px 5px;

            .form-control {
                border: none;
                outline: none;
                box-shadow: none;
            }

            .btn {
                background-color: #0b6128;
                color: #fff;
                border-radius: 33px !important;
                -webkit-border-radius: 33px !important;
                -moz-border-radius: 33px !important;
                -ms-border-radius: 33px !important;
                -o-border-radius: 33px !important;
            }
        }
    }

    .social {
        .nav {

            @include media-breakpoint-down(md) {
                justify-content: center;
            }

            li {
                margin-right: 20px;

                a {
                    font-size: 20px;
                }
            }
        }
    }
}