/*------------------------------------*\
	
    BASE - FONTS
    
\*------------------------------------*/


p{	
	margin-bottom: 20px;
	width: 100%;
	
	letter-spacing: .5px;
	line-height: $base_line_height;

	color: $grey;
	
	strong,
	strong a {
		font-weight: bolder;
	}
}


sup { 
	font-size: 45%;
	padding-right: 5px;
	vertical-align: super;
}


/** H1 - H6 STYLING **/
h1, h2, h3, h4, h5, h6 {
    color: $black;
    
	@extend %headings_font_family;
    line-height: 1.2em;
    text-transform: $h1_h6_titlecase;
    
	margin: 0 0 15px;
	width: 100%;

	font-weight: 600;
	
	@include mq('phablet', max) {
		margin-bottom: 16px;
	}

	span {
		color: $theme_color2;
	}
}
h1 {    
    font-size: $h1_large;
    line-height: 1.125em;

	@include mq('break-medium', max) 	{ font-size: $h1_medium; }
	@include mq('break-small', max) 	{ font-size: $h1_small; }
	@include mq('break-mobile', max) 	{ font-size: $h1_mobile; }
}
h2 {	    
    font-size: $h2_large;
	
	@include mq('break-medium', max) 	{ font-size: $h2_medium; }
	@include mq('break-small', max) 	{ font-size: $h2_small; }
	@include mq('break-mobile', max) 	{ font-size: $h2_mobile; }
}
h3 {    
    font-size: $h3_medium;
	    
	@include mq('break-medium', max) 	{ font-size: $h3_medium; }
	@include mq('break-small', max) 	{ font-size: $h3_small; }
	@include mq('break-mobile', max) 	{ font-size: $h3_mobile; }
}
h4 {    
    font-size: $h4_large;

	@include mq('break-medium', max) 	{ font-size: $h4_medium; }
	@include mq('break-small', max) 	{ font-size: $h4_small; }
	@include mq('break-mobile', max) 	{ font-size: $h4_mobile; }
}
h5 {    
    font-size: $h5_large;

	@include mq('break-medium', max) 	{ font-size: $h5_medium; }
	@include mq('break-small', max) 	{ font-size: $h5_small; }
	@include mq('break-mobile', max) 	{ font-size: $h5_mobile; }
}
h6 {    
    font-size: $h6_large;

	@include mq('break-medium', max) 	{ font-size: $h6_medium; }
	@include mq('break-small', max) 	{ font-size: $h6_small; }
	@include mq('break-mobile', max) 	{ font-size: $h6_mobile; }
}


%font-16 {
	font-size: 15px;
						
	@include mq('tablet', min) { font-size: 16px; }
}

%card-font-24 {
	font-size: 21px;
						
	@include mq('tablet', min) { font-size: 24px; }
}


%font-36 {
	font-size: 24px;
			
	@include mq('tablet', min) { font-size: 30px; }
						
	@include mq('950', min) { font-size: 36px; }
}